// font url

$font-url: 'https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap';

// font family 
$title-font      : var(--at-title-font);
$body-font       : var(--at-body-font);
$style-font      : var(--at-style-font);
$body-font-size  : 16px;
$body-line-Height: 26px;
$body-font-weight: 400;
$p-line-Height   : 1.75;