$theme-prefix : 'at';

// Color Variation
$theme-color          : var(--at-theme-color);
$theme-color2         : var(--at-theme-color2);
$title-color          : var(--at-title-color);
$title-color2          : var(--at-title-color2);
$body-color           : var(--at-body-color);
$smoke-color          : var(--at-smoke-color);
$smoke-color2         : var(--at-smoke-color2);
$white-color          : var(--at-white-color);
$black-color          : var(--at-black-color);
$black-color2         : var(--at-black-color2);
$black-color3         : var(--at-black-color3);
$border-color         : var(--at-border-color);
$placeholder-color    : var(--at-placeholder-color);

// Font Variation
$icon-font   : var(--at-icon-font);

$font-p1     : var(--at-paragraph1);
$font-p2     : var(--at-paragraph2);
$font-p3     : var(--at-paragraph3);
