@use '../../utils' as *;
/*----------------------------------------*/
/*  3.3 Header Style 3
/*----------------------------------------*/

.#{$theme-prefix}-header {
    &-layout3 {
        background: $white-color;

        @media #{$lg,$md,$sm,$xs} {
            padding: 14px 0;
        }

        .at-main-logo {
            position: relative;

            &::after {
                position: absolute;
                width: 1px;
                height: 104px;
                top: -14px;
                right: 100px;
                content: "";
                background: $border-color;

                @media #{$xl} {
                    right: 15px;
                }

                @media #{$lg,$md,$sm,$xs} {
                    display: none;
                }
            }
        }

        .at-main-menu {
            >nav {
                >ul {
                    >li {
                        a {
                            padding: 39.3px 0;
                        }

                        &.has-dropdown::after {
                            position: absolute;
                            top: 39px;
                            right: 4px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }

        .at-header-right {
            position: relative;

            &::before {
                position: absolute;
                width: 1px;
                height: 104px;
                top: -23px;
                left: 8px;
                content: "";
                background: $border-color;

                @media #{$xl} {
                    left: -15px;
                    top: -22px;
                }

                @media #{$lg,$md,$sm,$xs} {
                    display: none;
                }
            }
        }

        &.header-sticky {
            padding: 0;
        }
    }
}