@use '../../utils' as *;
/*----------------------------------------*/
/*  3.3 Header Style 3
/*----------------------------------------*/

.#{$theme-prefix}-header {
    &-layout4 {
        @media #{$lg,$md,$sm,$xs} {
            padding: 14px 0;
        }
        .at-header-bottom{
            background: $white-color;
        }

        .at-main-menu {
            >nav {
                >ul {
                    >li {
                        a {
                            padding: 39.3px 0;
                        }

                        &.has-dropdown::after {
                            position: absolute;
                            top: 39px;
                            right: 4px;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}