@use '../../utils' as *;

/*----------------------------------------*/
/*  6.2 Footer Style 2
/*----------------------------------------*/
.#{$theme-prefix}-footer {
    &-widget-bg {
        position: absolute;
        top: -99px;
        left: -4px;
        z-index: -1;

        @media #{$lg} {
            top: -30%;
        }

        @media #{$sm,$xs} {
            width: 100%;
            top: -80px;
        }

        @media #{$md} {
            display: none;
        }

        img {
            @media #{$sm} {
                width: 100%;
                height: 380px;
            }

            @media #{$xs} {
                width: 100%;
                height: 420px;
            }
        }
    }

    &-style-2 {
        .at-footer-wrapp {
            margin-top: 0;
            margin-bottom: 97px;

            @media #{$md} {
                margin-bottom: 30px;
            }

            @media #{$sm,$xs} {
                margin-bottom: 60px;
            }
        }

        .at-copyright-wrapp {
            border: 0;
            background: $title-color2;
        }

        .at-footer-social-box {
            ul {
                li {
                    a {
                        width: 40px;
                        height: 40px;
                        font-size: 16px;
                        line-height: 40px;
                        background: $theme-color;

                        &:hover {
                            color: $theme-color2;
                        }
                    }
                }
            }
        }
    }

    &-info-list {
        ul {
            list-style: none;

            li {
                a {
                    font-weight: 600;
                    display: flex;
                    align-items: start;
                    color: $white-color;
                    line-height: 1.7;
                }

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }
    }

    &-info-icon {
        font-size: 16px;
        margin-right: 10px;
    }

    &-widget {
        .instagram-feeds {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 11px;
            max-width: 284px;
        }

        .insta-thumb {
            width: 86px;
            height: 84px;
            border-radius: 5px;
            overflow: hidden;
            display: inline-block;

            img {
                border-radius: 5px;
                transition: 1.3s;
            }

            &:hover {
                img {
                    transform: scale(1.2);
                }
            }
        }
    }
}

.footer-col {
    &-2-1 {
        padding-left: 60px;
        padding-right: 60px;

        @media #{$lg,$md,$sm,$xs} {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &-2-2 {
        margin-left: 15px;
        @media #{$lg} {
            margin-left: 100px;
        }

        @media #{$sm,$xs} {
            margin-left: 0;
        }
    }

    &-2-3 {
        margin-left: 35px;

        @media #{$sm,$xs} {
            margin-left: 0;
        }
    }

    &-2-4 {
        margin-left: 25px;

        @media #{$xl,$lg,$md,$sm,$xs} {
            margin-left: 0;
        }
    }
}