@use '../../utils' as *;

/*----------------------------------------*/
/*  6.3 Footer Style 3
/*----------------------------------------*/
.#{$theme-prefix}-footer {
    &-layout-3 {
        &.at-footer-style-1 {
            &::after {
                top: auto;
                bottom: 0;
                width: 1px;
                height: 104%;
                left: 33.3%;

                @media #{$xl} {
                    left: 25.3%;
                }
            }
        }

        .at-footer-wrapp {
            margin-top: 50px;
            margin-bottom: 100px;

            @media #{$md,$sm,$xs} {
                margin-bottom: 40px;
            }
        }

        .at-btn-icon {
            margin-left: -5px;
        }

        &::before {
            top: 42.5%;

            @media #{$lg} {
                top: 29.5%
            }

            @media #{$md} {
                top: 35.5%
            }

            @media #{$sm} {
                top: 32.5%;
            }

            @media #{$xs} {
                top: 33%;
            }
        }
    }

    &-shape-3 {
        position: absolute;
        width: 72.6%;
        height: 40px;
        top: -38px;
        left: 0;
        right: 0;
        margin: auto;
        background: var(--at-black-color3);
        clip-path: polygon(2% 0, 98% 0, 100% 100%, 0% 100%);

        @media #{$xl} {
            top: -35px;
            width: 83%;
        }
    }
}