@use '../utils' as *;
/*----------------------------------------*/
/*  2.3 Animations
/*----------------------------------------*/

@keyframes rotate1 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes headerSlideDown {
    0% {
        margin-top: -150px
    }

    100% {
        margin-top: 0
    }
}

.spin {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

// text-Rotation
@keyframes textRotation {
    to {
        transform: rotate(360deg);
    }
}

// progress-bar
@keyframes slideInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    100% {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

// pulse
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.4;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        transform: scale(3.5);
        opacity: 0;
    }
}

@keyframes moving {
    0% {

        transform: translatey(0px);
    }

    20% {
        transform: translateX(-50px);
    }

    50% {
        transform: translatey(-40px);
    }

    100% {
        transform: translatey(0px);
    }
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

/*img-animation**********************/
.at-anim-right {
    animation: img-anim-right 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
    opacity: 0;
}

@keyframes img-anim-right {
    0% {
        transform: translateX(5%);
        clip-path: inset(0 0 0 100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

.at-anim-left {
    animation: img-anim-left 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
    opacity: 0;
}

@keyframes img-anim-left {
    0% {
        transform: translateX(-5%);
        clip-path: inset(0 100% 0 0);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

.at-anim-top {
    animation: img-anim-top 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
}

@keyframes img-anim-top {
    0% {
        transform: translateY(-5%);
        clip-path: inset(0 0 100% 0);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}
.at-anim-bottom {
    animation: img-anim-bottom 1.3s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
    opacity: 0;
}

@keyframes img-anim-bottom {
    0% {
        transform: translateY(5%); /* নিচ থেকে ওপরে আসবে */
        clip-path: inset(100% 0 0 0); /* নিচ দিক থেকে reveal হবে */
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}


@keyframes jumpTwo {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    40% {
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes jumpTwoReverse {
    0% {
        transform: translate3d(0, 0, 0);
    }

    40% {
        transform: translate3d(0, -20px, 0);
        /* উপরে উঠবে */
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes jumpLR {
    0% {
        transform: translateX(0) scale(1);
    }

    25% {
        transform: translateX(20px) scale(1.1);
    }

    50% {
        transform: translateX(0) scale(1);
    }

    75% {
        transform: translateX(-20px) scale(1.1);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

@keyframes sparkleAnim {

    0%,
    100% {
        transform: scale(1) rotate(0deg);
        opacity: 1;
    }

    50% {
        transform: scale(1.3) rotate(10deg);
        opacity: 0.8;
    }
}

@keyframes animation-star {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0px;
        stroke-dasharray: 3000;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes at-footerLine {
    0% {
        left: 71px
    }

    50% {
        left: 0
    }

    100% {
        left: 71px
    }
}

@keyframes updown {
    0% {
        top: 0%;
    }

    50% {
        top: 95%;
    }

    100% {
        top: 0%;
    }
}

@keyframes leftRight {
    0% {
        left: 0%;
    }

    50% {
        left: 95%;
    }

    100% {
        left: 0%;
    }
}

@keyframes atleftRight {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
}


@keyframes rotateRing {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 5px #00f2ff;
    }

    50% {
        box-shadow: 0 0 20px #00f2ff;
    }

    100% {
        box-shadow: 0 0 5px #00f2ff;
    }
}

@keyframes floatUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}


.at-fadein,
.at-scalein,
.at-slidetopleft,
.at-slidebottomright,
.at-slideinleft,
.at-slideinright,
.at-slideindown,
.at-slideinup,
.at-rollinleft,
.at-rollinright {
    opacity: 0;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1.3s;
    animation-delay: 0.3s;
    animation-name: var(--animation-name);
}

.swiper-slide-active {
    .at-fadein {
        --animation-name: fadein;
    }

    .at-scalein {
        --animation-name: scalein;
    }

    .at-slidetopleft {
        --animation-name: slidetopleft;
    }

    .at-slidebottomright {
        --animation-name: slidebottomright;
    }

    .at-slideinleft {
        --animation-name: slideinleft;
    }

    .at-slideinright {
        --animation-name: slideinright;
    }

    .at-slideinup {
        --animation-name: slideinup;
    }

    .at-slideindown {
        --animation-name: slideindown;
    }

    .at-rollinleft {
        --animation-name: rollinleft;
    }

    .at-rollinright {
        --animation-name: rollinright;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideinup {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideinright {
    0% {
        opacity: 0;
        transform: translateX(180px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideindown {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideinleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slidebottomright {
    0% {
        opacity: 0;
        transform: translateX(120px) translateY(120px);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}

@keyframes slidetopleft {
    0% {
        opacity: 0;
        transform: translateX(-100px) translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}