@use '../utils' as *;

/*----------------------------------------*/
/*  2.1 Back to top
/*----------------------------------------*/
.scroll-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    z-index: 10000;
    opacity: 1;
    visibility: hidden;
    transform: translateY(45px);
    transition: all 300ms linear;
    border: 2px solid $theme-color;

    &:after {
        content: "";
        font-family: $icon-font;
        position: absolute;
        text-align: center;
        line-height: 50px;
        font-size: 16px;
        color: $theme-color;
        left: 11px;
        top: 11px;
        height: 25px;
        width: 22px;
        cursor: pointer;
        display: block;
        z-index: 1;
        box-shadow: none;
        border-radius: 50%;
        background-image: url("../img/icon/up-arrow.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    svg {
        color: $theme-color;
        border-radius: 50%;
        background: $white-color;

        path {
            fill: none;
        }
    }

    .progress-circle path {
        stroke: $theme-color;
        stroke-width: 20px;
        box-sizing: border-box;
        transition: all 400ms linear;
    }

    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}