@use '../utils' as *;

/*----------------------------------------*/
/*  2.9 Breadcrumb
/*----------------------------------------*/

.#{$theme-prefix}-breadcrumb {
    &-title {
        font-size: 64px;
        line-height: 1;
        font-weight: 900;
        text-align: center;
        margin-bottom: 12px;
        @media #{$md,$sm} {
            font-size: 50px;
        }

        @media #{$xs} {
            font-size: 40px;
        }

        &>span {
            display: block;
            color: $theme-color;
        }
    }

    &-list {
        span{
            font-size: 18px;
            font-weight: 900;
            color: $white-color;
            text-transform: uppercase;
        }
    }

    &-style {
        padding-top: 263px;
        padding-bottom: 130px;

        @media #{$lg,$md,$sm,$xs} {
            padding-top: 180px;
            padding-bottom: 80px;
        }
    }

    &-jupiter {
        position: absolute;
        bottom: 25%;
        left: 6%;
        transform: translateY(-50%);
        animation: jumpTwo 2s linear infinite;
        @media #{$md} {
            left: 0;
        }
    }
    &-ring {
        position: absolute;
        bottom: 25%;
        right: 6%;
        transform: translateY(-50%);
        animation: jumpTwo 2.9s linear infinite;
        @media #{$md} {
            right: 15px;
        }
    }
}