@use '../utils' as *;

/*----------------------------------------*/
/*  2.2 Buttons
/*----------------------------------------*/

.#{$theme-prefix}-btn {
    &-primary {
        &-text {
            font-size: 18px;
            font-weight: 900;
            line-height: 1;
            padding: 14.5px 32.5px;
            padding-top: 20px;
            color: $white-color;
            border-radius: 500px;
            display: inline-block;
            background: $theme-color;

        }
    }

    &-text-box {
        position: relative;
        z-index: 1;
        overflow: hidden;
        display: inline-block;

        &.text-uppercase {
            text-transform: uppercase;
            .text1 {
                top: 0;
            }
        }

        .text1 {
            position: relative;
            top: -1px;
            display: block;
            transition: 0.3s;
        }

        .text2 {
            position: absolute;
            top: 100%;
            display: block;
            transition: 0.3s;
        }
    }

    &-icon {
        margin-left: -5px;
        @include at-transition();

        i {
            width: 56px;
            height: 56px;
            display: inline-block;
            line-height: 62px;
            border-radius: 50%;
            text-align: center;
            color: $white-color;
            background: $theme-color;

            span {
                position: relative;
                font-size: 24px;
                width: 24px;
                height: 24px;
                overflow: hidden;
                display: inline-flex;

                svg {
                    position: absolute;
                    bottom: -1px;
                    left: 1px;
                    transform: translateY(-2px);
                    transition: all 0.2s ease-out;

                    &:last-child {
                        left: -22px;
                        bottom: -22px;
                        transform: translate(0, 0);
                    }
                }
            }

        }

        &.icon-left {
            opacity: 0;
            visibility: hidden;
            transform: scale(0);
            display: none;
        }

        &.style-2 {
            margin-left: 0;

            i {
                font-size: 12px;
                width: auto;
                height: auto;
                line-height: 1;
                display: inline-block;
                text-align: center;
                color: $theme-color;
                background: none;

                span {
                    position: relative;
                    font-size: 24px;
                    width: 13px;
                    height: 13px;
                    overflow: hidden;
                    display: inline-flex;

                    svg {
                        position: absolute;
                        bottom: -1px;
                        left: 1px;
                        transform: translateY(-2px);
                        transition: all 0.2s ease-out;

                        &:last-child {
                            left: -22px;
                            bottom: -22px;
                            transform: translate(0, 0);
                        }
                    }
                }

            }

            &:hover {
                color: $white-color;

                i {
                    & svg:first-child {
                        opacity: 0;
                        transform: translate(20px, -20px);
                    }

                    & svg:last-child {
                        transform: translate(23px, -23px);
                    }
                }
            }
        }

    }

    &-box-primary {
        &:hover {
            color: $white-color;

            & .at-btn-text-box {
                .text1 {
                    -webkit-transform: translateY(-150%);
                    transform: translateY(-150%);
                }

                .text2 {
                    top: 40%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            i {
                & svg:first-child {
                    opacity: 0;
                    transform: translate(20px, -20px);
                }

                & svg:last-child {
                    transform: translate(23px, -23px);
                }
            }
        }

        &.style-2 {
            .at-btn-text-box {
                color: $theme-color;
            }

            &:hover {
                color: $white-color;

                i {
                    & svg:first-child {
                        opacity: 0;
                        transform: translate(20px, -20px);
                    }

                    & svg:last-child {
                        transform: translate(23px, -23px);
                    }
                }
            }
        }

        &.style-3 {
            .at-btn-primary-text {
                padding: 0;
                color: $title-color;
                background: none;
                border-radius: 0;
                text-transform: uppercase;
            }

            .at-btn-icon {
                @include at-transition();

                i {
                    position: relative;
                    width: 44px;
                    height: 44px;
                    display: inline-block;
                    line-height: 50px;
                    border-radius: 50%;
                    text-align: center;
                    color: $white-color;
                    background: $theme-color;
                    @include at-transition();

                    &::after {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        content: "";
                        border: dashed 2px $theme-color2;
                        border-radius: 100%;
                        transform: scale(1.03);
                    }

                    span {
                        position: relative;
                        font-size: 24px;
                        width: 24px;
                        height: 24px;
                        overflow: hidden;
                        display: inline-flex;

                        svg {
                            position: absolute;
                            bottom: -1px;
                            left: 1px;
                            transform: translateY(-2px);
                            transition: all 0.2s ease-out;

                            &:last-child {
                                left: -22px;
                                bottom: 1px;
                                transform: translate(0, 0);
                            }
                        }
                    }

                }

                &.black-arrow {
                    i {
                        color: $white-color;
                        background: $title-color;

                        &::after {
                            border: dashed 2px $white-color;
                        }
                    }
                }

                &.blue-arrow {
                    i {
                        color: $white-color;
                        background: $theme-color;

                        &::after {
                            border: dashed 2px $white-color;
                        }
                    }
                }

                &.yellow-arrow {
                    i {
                        color: $title-color;
                        background: $theme-color2;

                        &::after {
                            border: dashed 1.9px $theme-color;
                        }
                    }
                }
            }

            &:hover {
                color: $white-color;

                .at-btn-icon {
                    i {
                        & svg:first-child {
                            opacity: 0;
                            transform: translate(20px, 0);
                        }

                        & svg:last-child {
                            transform: translate(23px, 0);
                        }

                        &::after {
                            animation: animation-star 4s cubic-bezier(1, 0.99, 0.03, 0.01) infinite;
                        }
                    }
                }
            }
        }
    }

    &-arrow {
        @include at-transition();

        i {
            position: relative;
            color: $theme-color;

            span {
                position: relative;
                font-size: 24px;
                width: 35px;
                height: 35px;
                overflow: hidden;
                display: inline-flex;

                svg {
                    position: absolute;
                    bottom: -1px;
                    left: 1px;
                    transform: translateY(-2px);
                    transition: all 0.2s ease-out;

                    &:last-child {
                        left: -22px;
                        bottom: 1px;
                        transform: translate(46px, 0);
                    }
                }
            }

        }

        &:hover {
            color: $white-color;

            i {
                & svg:first-child {
                    opacity: 0;
                    transform: translate(-20px, 0);
                }

                & svg:last-child {
                    transform: translate(24px, 0);
                }

                &::after {
                    animation: animation-star 4s cubic-bezier(1, 0.99, 0.03, 0.01) infinite;
                }
            }
        }

        &.right-icon {
            i {
                color: $theme-color;

                &::after {
                    border: dashed 2px $theme-color;
                }

                span {

                    svg {
                        position: absolute;
                        bottom: -1px;
                        left: 1px;
                        transform: translateY(-2px);
                        transition: all 0.2s ease-out;

                        &:last-child {
                            left: -32px;
                            bottom: 1px;
                            transform: translate(0, 0);
                        }
                    }
                }
            }

            &:hover {
                color: $white-color;

                i {
                    & svg:first-child {
                        opacity: 0;
                        transform: translate(20px, 0);
                    }

                    & svg:last-child {
                        transform: translate(35px, 0);
                    }
                }
            }
        }

        &.black-arrow {
            i {
                color: $white-color;
                background: $title-color;

                &::after {
                    border: dashed 2px $white-color;
                }
            }
        }

        &.blue-arrow {
            i {
                color: $white-color;
                background: $theme-color;

                &::after {
                    border: dashed 2px $white-color;
                }
            }
        }

        &.yello-icon {
            i {
                background: $theme-color2;

                &::after {
                    border: dashed 2.5px $theme-color;
                }
            }
        }
    }
}

.at-setting-icon {
    position: relative;
    margin-right: 10px;
    padding-right: 14px;
    overflow: hidden;

    i img {
        margin-top: -5px;
    }

    &::before,
    &::after {
        position: absolute;
        width: 3.5px;
        height: 18px;
        top: 0;
        right: 0;
        content: "";
        background: $border-color;
        overflow: hidden;
    }

    // &::after{
    //     top: 0;
    //     background: $theme-color2;
    // }
}