@use '../utils' as *;
/*----------------------------------------*/
/*  2.6 Nice Select
/*----------------------------------------*/
.nice-select {
    -webkit-tap-highlight-color: transparent;
    border-radius: 0;
    background: none;
    box-sizing: border-box;
    border: 1px solid var(--at-border-2);
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 50px;
    line-height: 50px;
    outline: none;
    padding-left: 19px;
    padding-right: 19px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;

    &:hover {
        border-color: var(--at-border-2);
    }

    &:active,
    &.open,
    &:focus {
        border-color: #999;
        border: 1px solid $theme-color;
    }

    &.open {

        & .list {
            opacity: 1;
            pointer-events: auto;
            -webkit-transform: scale(1) translateY(0);
            -ms-transform: scale(1) translateY(0);
            transform: scale(1) translateY(0);
        }
    }

    &.disabled {
        border-color: #ededed;
        color: #999;
        pointer-events: none;

        &::after {
            border-color: #cccccc;
        }
    }

    &.wide {
        width: 100%;

        & .list {
            left: 0 !important;
            right: 0 !important;
        }
    }

    &.right {
        float: right;

        & .list {
            left: auto;
            right: 0;
        }
    }

    &.small {
        font-size: 12px;
        height: 36px;
        line-height: 34px;

        &::after {
            height: 4px;
            width: 4px;
        }

        & .option {
            line-height: 34px;
            min-height: 34px;
        }
    }

    & .list {
        width: 100%;
        border-radius: 5px;
        color: var(--at-text-body);
        background-color: $black-color;
        box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
        box-sizing: border-box;
        margin-top: 4px;
        opacity: 0;
        overflow: hidden;
        padding: 10px 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        right: 0;
        -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
        transform: scale(0.75) translateY(-21px);
        -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        z-index: 9;

        @media #{$xs} {
            right: -30px;
        }
    }

    & .option {
        cursor: pointer;
        font-weight: 400;
        line-height: 26px;
        list-style: none;
        min-height: 26px;
        outline: none;
        padding-left: 18px;
        padding-right: 29px;
        text-align: left;
        color: var(--at-text-body);
        -webkit-transition: all 0.2s;
        transition: all 0.2s;

        &.selected {
            font-weight: bold;
        }

        &.disabled {
            background-color: transparent;
            color: #999;
            cursor: default;
        }
    }
}

.no-csspointerevents{
    & .nice{
        &-select{
            & .list {
                display: none;
            }
            &.open{
                & .list {
                    display: block;
                }
            }
        }
    }
}