@use '../../utils' as *;

/*----------------------------------------*/
/*  5.1 Postbox css
/*----------------------------------------*/

.postbox {
    &-item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }

        @media #{$md,$sm,$xs} {
            margin-bottom: 30px;
        }
    }

    &-thumb {
        border-radius: 10px 10px 0 0;

        img {
            border-radius: 10px 10px 0 0;
        }
    }

    &-thumb-box {
        .postbox-thumb {
            border-radius: 10px;

            @media #{$xs} {
                margin-bottom: 20px;
            }

            img {
                border-radius: 10px;
            }
        }
    }

    &-content,
    &-comment,
    &-form {
        padding: 40px;
        box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.05);
        border-radius: 0 0 10px 10px;

        @media #{$sm} {
            padding: 24px;
        }

        @media #{$lg,$xs} {
            padding: 20px;
        }
    }

    &-tag {
        position: absolute;
        padding: 5px 11.5px;
        right: 40px;
        top: -31px;
        z-index: 2;
        text-align: center;
        background: $theme-color;
        border-radius: 3px;

        @media #{$xs} {
            right: 20px;
        }
    }

    &-title {
        font-weight: 900;
        font-size: 30px;
        line-height: 1.3;
        text-transform: capitalize;
        color: $title-color;

        @media #{$lg,$sm,$xs} {
            font-size: 24px;
        }

        i {
            color: $theme-color;
        }
    }

    &-day {
        font-weight: 700;
        font-size: 30px;
        line-height: 1;
        color: $white-color;
        display: block;
    }

    &-month {
        font-size: 16px;
        font-weight: 600;
        color: $white-color;
    }

    &-video-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
        border-radius: 100%;
    }

    &-arrow {
        position: absolute;
        width: 100%;
        top: 50%;
        z-index: 2;
        padding: 0 30px;
        transform: translateY(-50%);

        .at-pagination-btn-icon.yello-icon i::after {
            border-color: $theme-color2;
        }

        .at-pagination-btn-icon.blue-arrow i::after {
            border-color: $theme-color;
        }
    }

    &-details {
        &-quote-box {
            padding: 32px 50px;
            border: 1px solid $border-color;
            border-radius: 0 0 0 30px;

            @media #{$xs} {
                padding: 20px;
            }

            &::after,
            &::before {
                position: absolute;
                width: 40px;
                height: 1px;
                top: -1px;
                left: 0;
                content: "";
                background: $white-color;
            }

            &::after {
                width: 1px;
                height: 50px;
                left: -1px;
            }
        }

        &-quote {
            .at-sec-text {
                font-weight: 900;
                color: $title-color;
            }
        }

        &-quote-box i {
            position: absolute;
            top: -20px;
            left: -3px;
            z-index: 2;
        }

        &-tag {
            span {
                font-weight: 900;
                font-size: 20px;
                color: $title-color;
            }

            .tagcloud a {
                margin-bottom: 0;

                @media #{$xs} {
                    margin-bottom: 10px;
                }
            }
        }

        &-social {
            span {
                font-weight: 900;
                font-size: 20px;
                color: $title-color;
            }
        }

        &-input {

            input,
            textarea {
                height: 56px;
                font-size: 16px;
                font-weight: 600;
                padding-right: 50px;
                color: $title-color;
                background: $smoke-color;
                border: 1px solid $smoke-color;
                border-radius: 5px;

                &::placeholder {
                    color: $title-color;
                }
            }

            textarea {
                min-height: 160px;
            }
        }

        &-input-icon,
        &-message-icon {
            position: absolute;
            right: 22px;
            top: 50%;
            color: $title-color;
            transform: translateY(-50%);
        }

        &-message-icon {
            top: 30px;
        }

        &-remeber {
            & input {
                display: none;

                &:checked {
                    &~label {
                        &::before {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }

            & label {
                position: relative;
                font-size: 16px;
                font-weight: 600;
                padding-left: 25px;
                line-height: 1;
                color: $title-color;

                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    transition: .3s;
                    line-height: 12px;
                    border-radius: 4px;
                    text-align: center;
                    border: 1px solid $border-color;
                    background: $white-color;
                }

                &::before {
                    position: absolute;
                    content: url('../img/icon/check.svg');
                    top: -1px;
                    left: 0;
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    text-align: center;
                    visibility: hidden;
                    opacity: 0;
                    z-index: 33;
                    transition: .3s;
                    color: $title-color;
                    filter: invert(1);
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    &-social-list {
        a {
            width: 38px;
            height: 38px;
            line-height: 38px;
            text-align: center;
            display: inline-block;
            color: $title-color;
            background: $smoke-color;
            border-radius: 5px;
            @include at-transition();

            &:hover {
                color: $white-color;
                background: $theme-color;
            }
        }
    }

    &-qoute-designation {
        position: absolute;
        padding: 4px 17px;
        bottom: -15px;
        left: 100px;
        font-weight: 600;
        font-size: 20px;
        color: $white-color;
        border-radius: 5px;
        background: $theme-color;

        @media #{$xs} {
            padding: 4px 10px;
            left: 40px;
        }
    }

    &-feature-box {
        padding-bottom: 20px;
        border-bottom: 1px solid $smoke-color;
    }

    &-feature {
        &-list {
            font-weight: 900;
            font-size: 16px;
            list-style: none;
            margin-bottom: 15px;
        }
    }

    &-author {
        padding: 24px;
        gap: 30px;
        border-radius: 10px;

        @media #{$md,$sm,$xs} {
            gap: 14px;
            padding: 20px;
        }
    }

    &-author-img {
        flex: 0 0 auto;

        @media #{$xs} {
            margin-bottom: 10px;
        }

        img {
            border-radius: 20px;

            @media #{$xs} {
                width: 100%;
            }
        }
    }

    &-author-title {
        font-weight: 900;
        font-size: 24px;
        text-transform: capitalize;
        color: $white-color;
    }

    &-author-time {
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        color: $white-color;
    }

    &-author-social {
        a {
            font-size: 15px;
            color: $white-color;

            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }

    &-pagination {
        ul {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-between;

            li {
                a {
                    font-weight: 800;
                    font-size: 18px;
                    display: flex;
                    gap: 12px;
                    color: $title-color;
                    align-items: center;
                    text-transform: uppercase;

                    @media #{$xs} {
                        font-size: 14px;
                    }

                    i {
                        color: $theme-color;
                    }
                }
            }
        }
    }

    &-comment-box {
        padding: 30px 30px 25px 30px;
        border-radius: 10px;

        @media #{$md,$sm} {
            padding: 24px;
        }

        @media #{$xs} {
            padding: 20px;
        }

        &:nth-child(odd) {
            margin-left: 80px;

            @media #{$lg} {
                margin-left: 40px;
            }

            @media #{$md,$sm,$xs} {
                margin-left: 0;
            }
        }

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &-comment-avater {
        flex: 0 0 auto;

        @media #{$xs} {
            margin-bottom: 15px;
        }

        img {
            border-radius: 5px;
        }
    }

    &-comment-text {
        font-weight: 600;
        color: $title-color;
        margin-bottom: 0;
        text-transform: capitalize;
    }

    &-comment-name {
        font-size: 24px;
        font-weight: 900;
        line-height: 1;
        text-transform: capitalize;
        color: $title-color;

        @media #{$xs} {
            font-size: 20px;
        }
    }

    &-comment-time {
        font-size: 14px;
        font-weight: 600;
        color: $title-color;
    }

    &-comment-replay {
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        color: $title-color;

        &:hover {
            color: $theme-color;
        }
    }

    &-form {
        @media #{$md,$sm,$xs} {
            margin-bottom: 30px;
        }

        .at-sec-text {
            font-weight: 600;
            color: $title-color;
            text-transform: capitalize;
        }
    }

}