@use '../../utils' as *;

/*----------------------------------------*/
/*  7.3 Brand css
/*----------------------------------------*/

.#{$theme-prefix}-brand {
    &-wrapp {
        border-bottom: 1px solid $border-color;
    }

    &-thumb {
        padding: 45px 67px;
        border-right: 1px solid $border-color;
    }

    &-titlebox {
        width: 100%;

        .at-sec-text {
            font-weight: 900;
            font-size: 20px;
            line-height: 1;
            color: $title-color;
        }

        &::after,
        &::before {
            position: absolute;
            width: 33%;
            height: 1px;
            top: 50%;
            left: 0;
            content: "";
            transform: translateY(-50%);
            background: $border-color;
            @media #{$lg} {
                width: 28%;
            }
            @media #{$md} {
                width: 20%;
            }
            @media #{$sm} {
                width: 15%;
            }
            @media #{$xs} {
                display: none;
            }
        }

        &::after {
            left: auto;
            right: 0;
        }
    }

    &-style-2 {
        border: 0;

        .at-brand-thumb {
            margin: 0 -10px;
            border-radius: 60px;
            padding: 28px 44.5px;
            background: $white-color;
            border: 1px solid $border-color;
        }
    }
}