@use '../../utils' as *;

/*----------------------------------------*/
/*  7.12 Features css
/*----------------------------------------*/

.#{$theme-prefix}-feature {
    &-overlay{
        position: relative;
        &::before{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: "";
            background: $smoke-color;
            opacity: .3;
        }
    }
    &-card {
        overflow: hidden;
        padding: 49px 60px;
    }

    &-value {
        font-size: 50px;
        font-weight: 900;
        color: transparent;
        -webkit-text-stroke: 1px $title-color;
    }

    &-bdr{
        position: absolute;
        top: 0;
        z-index: -1;
    }

    &-wrapp {
        // .row {
        //     [class*="col-"] {
        //         &:nth-child(even) {
        //             & .at-feature-card {
        //                 position: relative;
        //                 height: 100%;
        //                 &::before{
        //                     position: absolute;
        //                     width: 100%;
        //                     height: 100%;
        //                     bottom: 0;
        //                     left: 0;
        //                     content: "";
        //                     background: linear-gradient(180deg, rgba(55, 71, 255, 0) 0%, rgba(55, 71, 255, 0.2) 100%);
        //                 }
        //             }
        //         }
        //     }
        // }
    }
}