@use '../../utils' as *;

/*----------------------------------------*/
/*  7.16 Price css
/*----------------------------------------*/

.#{$theme-prefix}-price {
    &-item {
        border-radius: 10px;
        padding-bottom: 20px;

        &.active {
            position: relative;

            &::before {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                content: "";
                border: 4px solid $theme-color;
                border-radius: 10px;
            }

            .at-btn-box-primary {
                background: $theme-color;
            }

            .at-price-btn {
                .at-btn-primary-text {
                    color: $white-color;
                }
            }

            .at-btn-icon i {
                color: $theme-color;
                background: $white-color;
            }

            .at-price-content {
                background: $theme-color;
            }

            .at-price-icon {
                span {
                    background: $theme-color;
                }
            }
        }
    }

    &-content {
        border-radius: 10px;
        padding: 20px 40px;

        @media #{$md,$xs} {
            padding: 20px 24px;
        }
    }

    &-value {
        font-weight: 900;
        font-size: 48px;
        text-transform: capitalize;
    }

    &-review-box {
        span {
            color: $theme-color2;
        }
    }

    &-icon {
        position: absolute;
        right: 43px;
        bottom: -32px;

        span {
            width: 70px;
            height: 70px;
            line-height: 60px;
            text-align: center;
            display: inline-block;
            background: $title-color;
            border: 1.5px solid $white-color;
            border-radius: 100px;
        }
    }

    &-body {
        padding: 30px 40px;

        @media #{$md,$xs} {
            padding: 30px 24px;
        }
    }

    &-list {
        padding-bottom: 30px;
        border-bottom: 1.50px solid $border-color;

        ul {
            list-style: none;

            li {
                font-weight: 600;
                font-size: 16px;

                img {
                    margin-right: 2px;
                }

                &:not(:last-child) {
                    margin-bottom: 9px;
                }
            }
        }
    }

    &-discount-value {
        font-weight: 600;
        font-size: 18px;
        text-transform: capitalize;
    }

    &-discount-btn {
        padding: 2px 20px;
        font-weight: 600;
        font-size: 14px;
        border-radius: 50px;
        color: $title-color;
        background: $theme-color2;
    }

    &-btn {
        .at-btn-box-primary {
            padding: 18.5px 57px;
            background: $white-color;
            border: 1px solid $theme-color;
            border-radius: 100px;

            @media #{$xl} {
                padding: 13px 30px;
            }

            @media #{$md} {
                padding: 13px 35px;
            }

            @media #{$xs} {
                padding: 13px 16px;
            }
        }

        .at-btn-text-box {
            top: 5px;
        }

        .at-btn-primary-text {
            background: none;
            color: $theme-color;
            padding: 0;
            text-transform: uppercase;

            @media #{$xs} {
                font-size: 16px;
            }
        }

        .at-btn-icon {
            margin-left: 5px;

            i {
                width: 34px;
                height: 34px;
                text-align: center;
                line-height: 34px;

                span svg {
                    left: 5px;

                    &:last-child {
                        left: -18px;
                    }
                }
            }
        }
    }

    &-switch-box {
        position: relative;
        background: $white-color;
        border: 1px solid $theme-color;
        border-radius: 50px;

        & button {
            position: relative;
            font-size: 16px;
            font-weight: 900;
            line-height: 16px;
            z-index: 2;
            padding: 18px 25px;
            color: $black-color;
            transition: 0.3s;
            text-transform: uppercase;

            &.active {
                color: $white-color;
            }

            &.monthly {
                &.active {
                    &~.at-price-switch-bg {
                        transform: translateX(0px);
                    }
                }
            }

            &.yearly {
                &.active {
                    &~.at-price-switch-bg {
                        left: 5px;
                    }
                }
            }
        }

    }

    &-switch-bg {
        position: absolute;
        transition: transform 0.2s ease-in-out;
        will-change: transform;
        width: 129px;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        display: block;
        content: "";
        background: $theme-color;
        box-shadow: 0px 2px 2px -1px rgba(89, 86, 233, 0.15), 0px 0px 1px rgba(89, 86, 233, 0.1);
        border-radius: 30px;
        transform: translateX(104px);
        @include at-transition();
    }

    // style-2 here
    &-title-area {
        @media #{$md,$sm,$xs} {
            margin-bottom: 33px;
        }
    }

    &-title {
        @media #{$md,$sm,$xs} {
            margin-bottom: 40px;
        }

        .at-sec-title {
            margin-top: -10px;

            @media #{$lg} {
                font-size: 40px;
            }
        }
    }

    &-card-2 {
        .at-price-content {
            border-radius: 10px 10px 0 0;
        }
    }

    &-style {
        padding-top: 116px;

        @media #{$lg,$md,$sm,$xs} {
            padding-top: 80px;
        }
    }
}