@use '../../utils' as *;

/*----------------------------------------*/
/*  7.17 Process css
/*----------------------------------------*/

.#{$theme-prefix}-process {
    &-space-1{
        padding-top: 120px;
        padding-bottom: 60px;
        @media #{$lg,$md,$sm,$xs} {
            padding-top: 80px;
            padding-bottom: 10px;
        }
        @media #{$sm,$xs} {
            padding-bottom: 60px;
        }
    }
    &-top-wrapp {
        border-bottom: 2px solid #D0D0D2;
        @media #{$md,$sm,$xs} {
            margin-top: 30px;
        }
    }

    &-top-box {
        max-width: 353px;
        height: 73px;
        border: 2px solid #D0D0D2;
        border-radius: 13px 13px 0 0;
        border-bottom: 0;
        text-align: center;
        margin: auto;

        &::before,
        &::after {
            position: absolute;
            width: 10px;
            height: 8px;
            bottom: 0;
            left: -6px;
            content: "";
            display: inline-block;
            background: #D0D0D2;
            clip-path: polygon(49% 0, 56% 0, 100% 100%, 0% 100%);
        }

        &::after {
            left: auto;
            right: -6px;
        }
    }

    &-top-icon {
        width: 55px;
        height: 55px;
        display: block;
        line-height: 50px;
        text-align: center;
        color: $white-color;
        background: $theme-color;
        border-radius: 100px;
        margin: auto;
        margin-top: -30px;

        img {
            animation: spin 10s infinite alternate-reverse;
        }
    }

    &-wrapp {
        & .row {
            [class*="col-"] {
                &:not(:last-child) {
                    & .at-process {
                        &-item {
                            margin-bottom: 60px;
                        }
                    }
                }
            }
        }
    }

    &-item {
        margin-top: -18px;
    }

    &-number-box {
        border-radius: 50px;
        display: inline-block;
        padding: 2.8px 10px;
        background: $theme-color;
    }

    &-number-categorie {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 0;
        padding: 0px 6.3px;
        border-radius: 40px;
        color: $title-color;
        background: $white-color;
        margin-right: 3px;
    }

    &-number {
        font-weight: 800;
        font-size: 16px;
        line-height: 1;
        color: $white-color;
    }

    // style-2 here
    &-wrapp2 {
        .row {
            [class*="col-"] {
                &:last-child {
                    & .at-process {
                        &-item {
                            height: 510px;
                            @media #{$lg,$md,$sm} {
                                height: 350px;
                            }
                            @media #{$xs} {
                                height: auto;
                            }
                        }
                    }
                }

                &:not(:last-child) {
                    & .at-process {
                        &-item {
                            @media #{$lg,$md,$sm,$xs} {
                                margin-bottom: 40px;
                            }
                            @media #{$xs} {
                                margin-bottom: auto;
                            }
                        }
                    }
                }
            }
        }

    }

    &-card-2 {
        height: 552px;

        @media #{$xl} {
            height: 510px;
        }

        @media #{$md} {
            height: 390px;
        }

        @media #{$xs} {
            height: auto;
        }

        img {
            border-radius: 10px;
        }
    }

    &-tag-wrapp {
        width: 100%;
        margin-top: 10px;
    }

    &-tag {
        font-weight: 600;
        margin: 0 -2px;
        padding: 10px 14.5px;
        border-radius: 100px;
        color: $title-color;
        border: 1px solid rgba(11, 6, 42, 0.2);

        @media #{$xs} {
            display: inline-block;
            margin-bottom: 15px;
            text-align: center;
        }
    }

    &-sm-thumb-box {
        width: 100%;

        @media #{$md} {
            width: auto;
        }

        @media #{$xl} {
            transform: scale(.9);
            margin-left: -20px;
        }
    }

    &-sm-thumb {
        gap: 30px;

        @media #{$sm,$xs} {
            width: 100%;
        }

        img {
            width: 100%;
        }
    }

    &-thumb {
        width: 100%;
        height: 100%;
        border-radius: 10px;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    &-brand {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        transform: translateY(-50%);

        @media #{$md,$xs} {
            position: static;
        }
    }

    &-step {
        font-size: 24px;
        font-weight: 900;
        padding: 14.5px 29.5px;
        color: $white-color;
        display: inline-block;
        background: $theme-color;
        border-radius: 10px;
    }

    &-slider-btn2 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;

        @media #{$md,$sm,$xs} {
            left: 0;
            right: 0;
            bottom: 50px;
            text-align: center;
        }

        @media #{$md,$xs} {
            bottom: -50px;
        }

        .at-pagination {
            &-btn-icon {
                i::after {
                    border-color: $smoke-color;
                }
            }
        }
    }

    &-active {
        padding-top: 18px;

        .at-slideinright {
            opacity: 1;
        }
    }

    &-shape {
        position: absolute;
        top: 9%;
        left: 9%;
        animation: rotateRing 10s linear infinite, floatUpDown 3s ease-in-out infinite;

        @media #{$lg} {
            top: 30px;
            left: 2%;
        }
    }

}