@use '../../utils' as *;

/*----------------------------------------*/
/*  7.21 Service css
/*----------------------------------------*/

.#{$theme-prefix}-service {
    &-wrapp {
        @media #{$lg} {
            margin-bottom: 40px;
        }

        @media #{$md,$sm,$xs} {
            margin-bottom: 30px;
        }
    }

    &-item {
        position: relative;
        padding: 40px 30px;
        background: rgba(55, 71, 255, 0.1);
        border-radius: 50px;
        @include at-transition();

        @media #{$xl} {
            padding: 30px 20px;
        }

        &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: "";
            border: 2.50px dashed rgba(55, 71, 255, 0.2);
            border-radius: 50px;
            @include at-transition();
        }

        &:hover {
            background: $theme-color;

            .at-service-icon {
                color: $white-color;
                background: none;

                &::after {
                    border: 1.50px dashed $white-color;
                    animation: animation-star 4s cubic-bezier(1, 0.99, 0.03, 0.01) infinite;
                }

                img {
                    filter: brightness(5) contrast(1);
                }
            }

            .at-box-title {
                color: $white-color;
            }

            .at-sec-text {
                color: $white-color;
            }

            .at-btn-text-box {
                color: $white-color;
            }

            .at-service-btn-icon {
                i {
                    span {
                        color: $white-color;
                    }
                }
            }

            &::after {
                border: 2.50px dashed $white-color;
            }
        }
    }

    &-action {
        & .at-btn-text-box {
            font-size: 18px;
            font-weight: 900;
            position: relative;
            z-index: 1;
            overflow: hidden;
            display: inline-block;
            color: $title-color;
            line-height: 1;

            .text1 {
                position: relative;
                top: 2.5px;
                display: block;
                transition: 0.3s;
            }

            .text2 {
                position: absolute;
                top: 100%;
                display: block;
                transition: 0.3s;
            }
        }
    }

    &-icon {
        position: relative;
        width: 69px;
        height: 69px;
        font-size: 35px;
        line-height: 64px;
        text-align: center;
        margin: auto;
        margin-bottom: 22px;
        color: $theme-color;
        background: $white-color;
        border-radius: 110px;
        @include at-transition();

        &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: "";
            border: 1.50px dashed rgba(55, 71, 255, 0.3);
            border-radius: 110px;
        }

        img {
            transition: .3s;
        }
    }

    &-btn-icon {
        margin-left: 2px;
        @include at-transition();

        i {
            span {
                position: relative;
                font-size: 24px;
                width: 24px;
                height: 24px;
                overflow: hidden;
                display: inline-flex;
                color: $title-color;

                svg {
                    position: absolute;
                    bottom: 0;
                    left: 1px;
                    transform: translateY(0);
                    transition: all 0.2s ease-out;

                    &:last-child {
                        left: -22px;
                        bottom: 0;
                        transform: translate(0, 0);
                    }
                }
            }

        }
    }

    &-btn {
        &:hover {
            color: $white-color;

            & .at-btn-text-box {
                .text1 {
                    -webkit-transform: translateY(-150%);
                    transform: translateY(-150%);
                }

                .text2 {
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
            }

            i {
                & svg:first-child {
                    opacity: 0;
                    transform: translate(20px, 0);
                }

                & svg:last-child {
                    transform: translate(23px, 0);
                }
            }
        }
    }

    &-more-box {
        padding: 23px 30px;
        border-radius: 50px;
        background: rgba(55, 71, 255, 0.1);

        @media #{$xl,$lg,$md} {
            padding: 18px 30px;
        }

        @media #{$sm} {
            padding: 15px 30px;
        }

        @media #{$xs} {
            padding: 15px 16px;
        }

        .at-sec-text2 {
            font-weight: 600;
            color: $title-color;
            margin-bottom: 0;
        }
    }

    // service-style-2 here

    &-extra-space {
        padding-top: 120px;
        padding-bottom: 210px;

        @media #{$lg,$md,$sm,$xs} {
            padding-top: 80px;
            padding-bottom: 175px;
        }
    }

    &-style-2 {
        padding: 0;
        background: none;

        .at-service-main-box {
            width: 194px;
            min-height: 555px;
            padding: 0;
            border-radius: 10px;
            border: 1px solid $border-color;
            @include at-transition();
        }

        .at-service-icon {
            position: static;
            width: auto;
            height: auto;
            padding: 52.5px 73px;
            background: none;
            border-radius: 0;
            border-bottom: 1px solid $border-color;

            &::after {
                display: none;
            }
        }

        &::after {
            display: none;
        }

        .at-service-content {
            padding: 15px;
        }

        .at-service-content-icon {
            img {
                width: 50px;
                height: 50px;
                line-height: 50px;
            }
        }

        .at-box-title {
            text-align: start;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            margin-bottom: 32px;
            @include at-transition();
        }

        &:hover,
        &.active {
            background: none;
        }
    }

    &-item-2 {
        position: relative;
        width: 192px !important;
        height: 555px;
        padding: 0;
        background: none;
        border: 1px solid $border-color;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.4s ease-in-out;

        @media #{$xl} {
            height: 518px;
        }

        @media #{$lg} {
            height: 502px;
        }

        @media #{$md} {
            width: 360px !important;
            height: 515px;
        }

        @media #{$sm} {
            width: 100% !important;
            height: 580px;
        }

        @media #{$xs} {
            width: 100% !important;
            height: 515px;
        }

        &::after {
            display: none;
        }

        &.active {
            .box-title-wrapp {
                opacity: 0;
                visibility: hidden;
            }

            .at-service-thumb {
                margin-top: 0;
            }

            .at-service-content {
                opacity: 1;
                visibility: visible;

                @media #{$xl,$lg,$md,$sm,$xs} {
                    width: 100%;
                }

                .at-box-title {
                    margin-top: 0;
                }
            }

            .at-sec-text {
                text-wrap-mode: wrap;
            }

            width: 422px !important;

            @media #{$sm,$xs} {
                width: 100% !important;
            }
        }

        .at-service-content {
            position: absolute;
            top: 0;
            opacity: 0;
            visibility: hidden;
            padding: 25px;
            height: 100%;
            background: $theme-color;
            border-radius: 10px;
            z-index: 5;
            transition: all .15s ease-in-out;

            @media #{$lg} {
                padding: 15px;
            }

            @media #{$md,$sm,$xs} {
                opacity: 1;
                visibility: visible;
                padding: 15px;
                width: 100%;
            }

            .at-box-title {
                min-width: 372px;
                margin-top: 30px;
                @include at-transition();

                @media #{$xl,$lg,$md,$xs} {
                    min-width: auto;
                }

                @media #{$md} {
                    font-size: 23px;
                }

                @media #{$lg,$sm,$xs} {
                    font-size: 20px;
                    min-width: auto;
                }

                @media #{$md,$sm,$xs} {
                    margin-top: 0;
                }

                &:hover {
                    a {
                        color: $theme-color2;
                    }
                }
            }
        }

        .at-service-thumb {
            margin-top: 10px;
            margin-bottom: 25px;
            @include at-transition();

            img {
                border-radius: 10px;
            }
        }

        .at-sec-text {
            @include at-transition();

            @media #{$lg,$xs} {
                text-wrap-style: auto;
            }
        }

        &:hover {
            .at-box-title {
                color: $theme-color;
            }
        }

    }

    &-wrapp-2 {
        gap: 30px;
        align-items: center;

        @media #{$md,$sm,$xs} {
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;
        }
    }

    &-btn-box {
        .at-btn-box-primary .at-btn-icon i::after {
            transform: scale(1);
        }
    }

    // service-style-3 here
    &-titlebox {
        .at-sec-subtitle {

            &::before,
            &::after {
                background: $theme-color2;
            }
        }

        .subtitle-right-shape {

            &::before,
            &::after {
                background: $theme-color2;
            }
        }

        .at-sec-title {
            line-height: 1.3;
            text-transform: inherit;
        }
    }

    &-btn {
        .at-btn-icon {
            &.style-2 {
                i {
                    width: 46px;
                    height: 46px;
                    line-height: 46px;
                    text-align: center;
                    border-radius: 50px;
                    background: $theme-color;
                    @include at-transition();

                    span {
                        width: 19.8px;
                        height: 19.8px;
                        margin-top: 12px;
                        color: $white-color;
                    }

                    &:hover {
                        background: $theme-color2;
                    }
                }
            }
        }
    }

    &-clude-shape {
        position: absolute;
        top: 55px;
        left: 0;

        @media #{$md} {
            top: 24px;
        }
    }

    &-accordion {
        .accordion {
            &-button {
                font-size: 36px;
                font-weight: 900;
                padding: 30px 0;
                text-transform: capitalize;
                color: $white-color;
                background: none;
                letter-spacing: 1.6px;
                border-bottom: 1px solid rgba($color: #fff, $alpha: .2);
                @include at-transition();

                &::after {
                    display: none;
                }

                &:focus {
                    outline: 0;
                    box-shadow: none;
                }

                &:not(.collapsed) {
                    box-shadow: none;
                }

                @media #{$md} {
                    font-size: 30px;
                }

                @media #{$sm} {
                    font-size: 24px;
                }

                @media #{$xs} {
                    font-size: 20px;
                }
            }

            &-item {
                border: 0;
                border-radius: 0;
                background: none;
            }

            &-number {
                font-weight: 900;
                font-size: 36px;
                color: $white-color;

                @media #{$md} {
                    font-size: 30px;
                }

                @media #{$sm,$xs} {
                    font-size: 24px;
                }
            }

            &-body {
                padding: 40px 0;
                border-bottom: 1px solid $white-color;
            }
        }

        .at-sec-text {
            max-width: 560px;

            @media #{$md,$sm,$xs} {
                max-width: 100%;
            }
        }

        .accordion-number {
            @media #{$sm,$xs} {
                margin-bottom: 40px;
            }
        }

    }

    &-fq-thmub {
        margin-left: 36px;
        border-radius: 10px;

        @media #{$md,$sm,$xs} {
            margin-left: 0;
        }

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    &-fq-btn {
        @media #{$md,$sm,$xs} {
            margin-bottom: 40px;
        }

        .at-btn-primary-text {
            background: $theme-color2;
        }

        .at-btn-icon {
            margin-left: -5px;

            i {
                background: $theme-color2;
            }
        }
    }

    &-tringle {
        position: absolute;
        width: 100%;
        bottom: 0;

        &::before,
        &::after {
            position: absolute;
            width: 60px;
            height: 58px;
            bottom: -57px;
            display: inline-block;
            left: 0;
            content: "";
            background: $title-color;
            clip-path: polygon(100% 0, 0 0, 0 90%);
        }

        &::after {
            left: auto;
            right: 0;
            clip-path: polygon(0 0, 100% 0, 100% 90%);
        }
    }
}

.box-title-wrapp {
    position: relative;
    z-index: 1;
    height: 100%;
    transition: all 0.4s ease-in-out;

    >.at-box-title {
        position: absolute;
        bottom: 28%;
        min-width: 237px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);

        @media #{$lg} {
            font-size: 20px;
        }
    }
}

.at-service {
    &-bottom-icon {
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        text-align: center;

        @media #{$lg} {
            bottom: 15px;
        }
    }

    &-top-icon {
        padding: 66px 0;
        text-align: center;
        border-bottom: 1px solid $border-color;
    }
}

// service-details area
.sv-details {
    &-wrapp {
        .sidebar-widget {
            @media #{$md,$sm,$xs} {
                margin-bottom: 40px;
            }
        }
    }

    &-thumb-box {
        gap: 30px;

        @media #{$sm} {
            gap: 15px;
        }
    }

    &-thumb {
        border-radius: 20px;

        &:not(:last-child) {
            @media #{$xs} {
                margin-bottom: 15px;
            }
        }

        img {
            border-radius: 20px;
        }
    }

    &-feature-wrapp {
        .at-sec-text {
            max-width: 868px;

            @media #{$xl} {
                max-width: 100%;
            }
        }
    }

    &-feature-list {
        font-size: 16px;
        font-weight: 900;
        list-style: none;
        display: flex;
        align-items: start;
        gap: 15px;
        text-transform: capitalize;
        color: $body-color;
        margin-bottom: 15px;

        i {
            color: $theme-color;
            margin-top: 7px;
        }
    }

    &-title {
        font-weight: 900;
        font-size: 48px;
        text-transform: capitalize;
        color: $title-color;

        @media #{$sm} {
            font-size: 30px;
        }

        @media #{$xs} {
            font-size: 24px;
        }
    }

    &-sm-title {
        font-weight: 900;
        font-size: 30px;
        text-transform: capitalize;
        color: $title-color;
    }

    &-pagination {
        ul {
            position: relative;
            display: flex;
            padding: 14px 30px;
            justify-content: space-between;
            border: 1px solid $border-color;
            border-radius: 24px;

            @media #{$xs} {
                padding: 14px;
            }

            &::after {
                position: absolute;
                width: 1px;
                height: 50px;
                left: 0;
                right: 0;
                top: 50%;
                content: "";
                text-align: center;
                margin: auto;
                background: $border-color;
                transform: translateY(-50%);

                @media #{$xs} {
                    display: none;
                }
            }

            li {
                list-style: none;

                &.current {
                    .at-pagination-btn {
                        &-icon i {
                            color: $theme-color2;

                            &::after {
                                border-color: $theme-color2;
                            }
                        }
                    }
                }
            }
        }

        .at-pagination-btn {
            font-size: 20px;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 19px;

            @media #{$xs} {
                font-size: 16px;
                gap: 10px;
            }

            &-icon i {
                position: relative;
                width: 50px;
                height: 50px;
                display: inline-block;
                line-height: 55px;
                border-radius: 50%;
                text-align: center;
                color: $theme-color;
                background: none;

                &::after {
                    border-color: $theme-color;
                }
            }
        }
    }
}