@use '../../utils' as *;

/*----------------------------------------*/
/*  7.22 Skill css
/*----------------------------------------*/

.#{$theme-prefix}-skill {
  &-main {
    width: 100%;
    max-width: 518px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media #{$md,$sm,$xs} {
      max-width: 100%;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
    padding-bottom: 0;
  }

  &-name {
    font-size: 18px;
    font-weight: 600;
    color: $title-color;
    display: inline-block;
  }

  &-bar {
    height: 8px;
    border-radius: 100px;
    background: #E9EBEE;
  }

  &-per {
    height: 8px;
    border-radius: 100px;
    width: 0;
    background: linear-gradient(90deg, #e7e2ff 0%, #4e2fda 100%);
    transition: 1s linear;
    position: relative;

    &::before {
      position: absolute;
      content: attr(data-per);
      padding: 0px 5px;
      background-color: $title-color;
      color: $white-color;
      font-size: 11px;
      font-weight: 700;
      line-height: 20px;
      border-radius: 4px;
      top: -35px;
      right: 0;
      transform: translateX(50%);
    }

    &::after {
      content: "";
      position: absolute;
      width: 8px;
      height: 14px;
      background-color: $title-color;
      top: -20px;
      right: 0;
      clip-path: polygon(100% 0, 0 0, 100% 100%);
    }
  }
}