@use '../../utils' as *;

/*----------------------------------------*/
/*  7.24 Team css
/*----------------------------------------*/

.#{$theme-prefix}-team {
    &-item {
        position: relative;
        padding: 42px 0 0 0;
        background: $border-color;

        &:hover {
            .at-team-border {
                margin-top: 7px;
            }
        }
    }

    &-textbox {
        position: absolute;
        padding: 13px 20px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border-radius: 10px;
        background: $white-color;
        z-index: 3;

        .at-box-title {
            line-height: 1;
            margin-bottom: 0;
            @include at-transition();

            @media #{$xl} {
                font-size: 20px;
            }

            &:hover {
                color: $theme-color;
            }
        }
    }

    &-designation {
        display: block;
    }

    &-border {
        position: absolute;
        top: 0;
        inset: 0;
        height: 26%;
        margin-top: 0;
        background: $theme-color;
        @include at-transition();
    }

    &-social-btn {
        position: relative;
        width: 35px;
        height: 35px;
        display: inline-block;
        border-radius: 50%;
        background: $theme-color;
        cursor: pointer;

        &::after,
        &::before {
            position: absolute;
            width: 12px;
            height: 2px;
            top: 48%;
            left: 12px;
            content: "";
            background: $white-color;
            @include at-transition();
        }

        &::before {
            width: 2px;
            height: 12px;
            top: 50%;
            left: 17px;
            transform: translateY(-50%);
        }

        &:hover {
            &::before {
                opacity: 0;
            }
        }
    }

    &-social-list {
        position: absolute;
        bottom: 8px;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        @include at-transition();

        a {
            display: block;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            color: $title-color;
            background: $white-color;
            box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
            border-radius: 100px;
            @include at-transition();

            &:hover {
                color: $white-color;
                background: $theme-color;
            }

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    &-social-box {
        line-height: 0;

        &:hover {
            .at-team-social-list {
                bottom: 43px;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &-wrapp-box {
        gap: 24px;

        @media #{$lg,$md,$sm,$xs} {
            justify-content: center;
        }

        &:not(:last-child) {
            margin-bottom: 25px;
        }
    }

    // style-2 here
    &-title-wrapp2 {
        .at-sec-text {
            max-width: 530px;
        }
    }

    &-wrapp2 {
        .at-box-title {
            @media #{$sm} {
                font-size: 20px;
            }
        }
    }
}

// team-details-area start
.team-details {
    &-thumb-box {
        padding: 30px;
        text-align: center;
        background: $white-color;
        box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.08);
        border-radius: 10px;

        @media #{$lg,$md,$sm,$xs} {
            margin-bottom: 40px;
        }

        @media #{$xs} {
            padding: 15px;
        }
    }

    &-thumb {
        border-radius: 10px;

        img {
            border-radius: 10px;
        }
    }

    &-title {
        font-size: 30px;
        font-weight: 900;
        text-transform: capitalize;
        color: $title-color;

        @media #{$xs} {
            font-size: 24px;
        }
    }

    &-sm-title {
        font-size: 24px;
        font-weight: 900;
        text-transform: capitalize;
        color: $title-color;
    }

    &-subtitle {
        font-size: 16px;
        font-weight: 600;
        display: inline-block;
        text-transform: capitalize;
        color: $theme-color;
    }

    &-social {
        ul {
            display: flex;
            gap: 10px;

            li {
                list-style: none;

                a {
                    width: 46px;
                    height: 46px;
                    line-height: 46px;
                    text-align: center;
                    color: $title-color;
                    display: inline-block;
                    background: $smoke-color;
                    border-radius: 5px;
                    @include at-transition();

                    &:hover {
                        color: $white-color;
                        background: $theme-color;
                    }
                }
            }
        }
    }

    &-info {

        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            @media #{$xs} {
                display: block;
            }
        }

        &-title {
            font-weight: 900;
            color: $title-color;
        }

        th {
            @media #{$xs} {
                padding-bottom: 0;
                padding-left: 0;
            }
        }

        td {
            font-size: 16px;
            font-weight: 600;
            text-transform: capitalize;
            color: #696868;

            @media #{$xs} {
                padding-left: 0;

            }
        }
    }

    &-skill-box {
        .at-skill-main {
            max-width: 569px;
            gap: 10px;
        }

        .at-skill-item {
            padding: 0;
        }

        .at-skill-name {
            font-size: 18px;
            font-weight: 900;
        }

        .at-skill-bar {
            position: relative;
            background: none;
            border: 1px solid $border-color;
            border-radius: 0;
        }

        .at-skill-per {
            position: static;
            height: 2px;
            margin-top: 2px;
            background: $theme-color;

            &::before {
                font-size: 18px;
                font-weight: 900;
                color: $title-color;
                background: none;
                right: 20px;
            }

            &::after {
                display: none;
            }
        }
    }
}

.team-details-form {
    padding: 60px 40px;
    background: $white-color;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;

    @media #{$xs} {
        padding: 30px 15px;
    }

    .at-contact-input {
        input {
            border-radius: 5px;
            padding-right: 60px;
        }

        textarea {
            border-radius: 5px;
        }
    }

    .at-btn-primary-text {
        width: 100%;
        border-radius: 10px;
        text-transform: uppercase;
    }
}

.team-contact {
    &-title {
        font-size: 36px;
        font-weight: 900;
        text-transform: capitalize;
        color: $title-color;

        @media #{$xs} {
            font-size: 24px;
        }
    }
}