@use '../../utils' as *;

/*----------------------------------------*/
/*  7.25 Testimonial css
/*----------------------------------------*/

.#{$theme-prefix}-testimonial {
    &-item {
        padding: 40px 54px 30px 54px;

        @media #{$xs} {
            padding: 30px 20px 30px 20px;
        }
    }

    &-avater {
        img {
            width: 80px;
            height: 80px;
            border: 2px solid $theme-color;
            border-radius: 100px;
        }
    }

    &-title {
        font-weight: 600;
        font-size: 30px;
        line-height: 1.3;
        color: $title-color;
    }

    &-designation {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.6;
        color: $body-color;
        display: inline-block;
    }

    &-content {
        padding-bottom: 10px;
        margin-bottom: 25px;
        border-bottom: 1px solid $border-color;
    }

    &-qoute-box {
        margin: 0 20px;
    }

    &-review {
        &-text {
            font-weight: 900;
            font-size: 20px;
            line-height: 1.5;
            text-transform: capitalize;
            color: $title-color;
            margin-right: 8px;

            @media #{$xs} {
                display: block;
            }
        }

        &-icon {
            color: $theme-color2;
        }
    }

    &-shape-box1 {
        position: absolute;
        left: 3.2%;
        bottom: 21.5%;
        animation: jumpTwo 2s linear infinite;

        @media #{$xxl,$xl} {
            left: 0;
        }
    }

    &-shape-box2 {
        position: absolute;
        right: 3.2%;
        top: 21.5%;
        animation: jumpTwo 2.9s linear infinite;

        @media #{$xxl,$xl} {
            right: 0;
        }
    }

    &-shape-img {
        img {
            width: 200px;
            height: 201px;
            border-radius: 120px 0 120px 120px;
        }
    }

    &-shape-img2 {
        img {
            width: 118px;
            height: 118px;
            border-radius: 60px 60px 60px 0;
        }
    }

    &-shape-img2 {
        margin-left: -15px;

        @media #{$xxl} {
            margin-left: -75px;
        }

        @media #{$xl} {
            margin-left: -118px;
        }
    }

    &-star1 {
        position: absolute;
        top: 14%;
        left: 15.5%;
        animation: sparkleAnim 1.5s ease-in-out infinite;

        @media #{$md,$sm} {
            top: 6%;
        }

        @media #{$xs} {
            top: 2%;
        }
    }

    &-star2 {
        position: absolute;
        bottom: 14%;
        right: 15.5%;
        animation: rotate1 8s linear infinite;

        @media #{$lg,$md,$sm,$xs} {
            bottom: 8%;
        }
    }

    // style-2 here

    &-title-area {
        .at-title-area {
            @media #{$md} {
                margin-bottom: 0;
            }
        }
    }

    &-card-2 {
        padding: 0;

        .at-testimonial {
            &-content {
                max-width: 680px;
                border: 0;
                margin-left: 110px;

                @media #{$xl,$lg} {
                    margin-left: 0;
                }

                @media #{$md,$sm,$xs} {
                    margin-left: 0;
                    margin: auto;
                }
            }

            &-avater {
                @media #{$md,$sm,$xs} {
                    margin-bottom: 40px;
                }

                img {
                    width: auto;
                    height: auto;
                    border: 0;
                    border-radius: 10px;
                }
            }
        }
    }

    &-text {
        font-weight: 900;
        font-size: 20px;
        line-height: 1.5;
        text-transform: capitalize;
    }

    &-reviewbox {
        gap: 15px;
    }

    &-review-ratings {
        font-weight: 900;
        font-size: 48px;
        color: $white-color;
    }

    &-review-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 1;
        margin-bottom: 0;
    }

    &-review-icon {
        span {
            color: $theme-color2;
        }
    }

    &-wrapp-2 {
        padding-top: 40px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }

    &-tab-button {
        .nav-tab {
            gap: 30px;
            flex-wrap: nowrap;
            justify-content: space-between;

            @media #{$xl,$lg,$md} {
                gap: 10px;
            }

            @media #{$md,$sm,$xs} {
                flex-wrap: wrap;
            }
        }

        .nav-link {
            font-weight: 900;
            font-size: 24px;
            line-height: 1.4;
            text-transform: capitalize;
            color: $white-color;
            border: 1px solid rgba(255, 255, 255, 0.1);
            padding: 9px 55px;
            border-radius: 10px;
            min-width: 308px;

            @media #{$xl,$lg,$md} {
                padding: 9px 50px;
                min-width: 208px;
            }

            @media #{$lg,$md} {
                padding: 9px 26px;
            }

            @media #{$md} {
                padding: 9px 26px;
                flex: 1 1 calc(50% - 20px);
            }

            @media #{$sm} {
                flex: 1 1 100%;
            }
            @media #{$xs} {
                font-size: 20px;
                padding: 9px;
                min-width: 290px;
            }
        }

        .active {
            background: $theme-color2;
            color: $title-color;

            .at-testimonial-designation {
                color: $title-color;
            }
        }

        .at-testimonial {
            &-designation {
                display: block;
                font-weight: 600;
                font-size: 18px;
                text-transform: capitalize;
                color: $white-color;
            }
        }
    }

    &-shape {
        position: absolute;
        right: 0;
        bottom: 31%;
        animation: rotateRing 10s linear infinite, floatUpDown 3s ease-in-out infinite;
    }

}

.at-testi-shape{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;

    @media #{$md,$sm,$xs} {
        top: -10px;
    }
}