@use '../../utils' as *;

/*----------------------------------------*/
/*  7.27 Video css
/*----------------------------------------*/

.#{$theme-prefix}-video {
    &-space {
        padding-top: 228px;
        padding-bottom: 135px;

        @media #{$lg,$md,$sm,$xs} {
            padding-bottom: 80px;
        }

        @media #{$sm,$xs} {
            padding-top: 32rem;
        }
    }

    &-titlebox {
        .at-sec-text2 {
            i {
                margin-right: 12px;
                color: $theme-color2;
            }
        }
    }

    &-thumb-box {
        @media #{$lg,$md,$sm,$xs} {
            margin-bottom: 60px;
        }
    }

    &-thumb {
        max-width: 545px;
        z-index: 2;

        @media #{$md,$sm,$xs} {
            width: 100%;
            max-width: inherit;
        }

        &::before,
        &::after {
            position: absolute;
            width: 302px;
            height: 247px;
            top: -13px;
            left: -13px;
            content: "";
            background: $theme-color2;
            z-index: -1;
            clip-path: polygon(100% 0, 0 100%, 0 0);
        }

        &::after {
            top: auto;
            bottom: -15px;
            left: auto;
            right: -13px;
            clip-path: polygon(100% 0, 0 100%, 100% 100%);
        }

        img {
            border-radius: 10px;

            @media #{$md,$sm,$xs} {
                width: 100%;
            }
        }
    }

    &-icon {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        margin: auto;
        transform: translateY(-50%);
    }

    &-play {
        position: relative;
        font-size: 20px;
        width: 91px;
        height: 91px;
        line-height: 91px;
        text-align: center;
        color: $white-color;
        display: inline-block;
        border-radius: 100px;
        @include at-transition;

        &::before,
        &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            content: "";
            background: $theme-color2;
            transform: scale(0);
            border-radius: 100px;
            @include at-transition();
            z-index: -1;
        }

        &::after {
            transform: scale(1);
            background: $theme-color;
            z-index: -2;
        }

        i {
            font-size: 20px;
            text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            @include at-transition;
        }

        &:hover {
            color: $title-color;

            &::before {
                transform: scale(1);
            }

            &::after {
                transform: scale(.8);
            }
        }
    }


    &-archery {
        position: absolute;
        top: 17%;
        right: 9.5%;
        animation: spin 2s linear infinite;
        transform-origin: center;

        @media #{$md,$sm,$xs} {
            top: 12%;
        }
    }

    &-right-arrow {
        position: absolute;
        top: 55.2%;
        left: 5%;
        animation: atleftRight 1s infinite alternate;

        @media #{$xl} {
            top: auto;
            bottom: 10%;
            left: 30%;
        }

        @media #{$lg} {
            top: 50%;
        }
    }
}