@use '../../utils' as *;

/*----------------------------------------*/
/*  4.1 Main menu css
/*----------------------------------------*/
.#{$theme-prefix}-main {
    &-menu {
        &>nav {
            &>ul {
                &>li {
                    position: relative;
                    display: inline-block;

                    &:not(:last-child) {
                        padding-right: 18px;
                        margin-right: 18px;

                        @media #{$xl} {
                            padding-right: 14px;
                            margin-right: 14px;
                        }
                    }

                    &.has-dropdown::after {
                        position: absolute;
                        top: 25px;
                        right: 0;
                        font-size: 9px;
                        font-weight: 900;
                        content: "\2b";
                        font-family: $icon-font;
                        color: $title-color;
                        @include at-transition();
                    }

                    & a {
                        font-weight: 700;
                        font-size: $font-p1;
                        padding: 25px 0;
                        display: inline-block;
                        text-transform: uppercase;
                        color: $title-color;
                    }

                    & .submenu {
                        position: absolute;
                        width: 340px;
                        z-index: 999;
                        padding: 25px 0px;
                        top: 105%;
                        opacity: 0;
                        visibility: hidden;
                        transition: .4s;
                        text-align: left;
                        margin-left: 0;
                        transform-origin: top;
                        transition-duration: .1s;
                        backdrop-filter: blur(8px);
                        background: $white-color;
                        box-shadow: 0px 10px 30px 0px rgba(25, 25, 26, 0.1);

                        & li {
                            list-style: none;
                            display: block;
                            padding: 0 30px;
                            position: relative;

                            &:not(:last-child) {
                                margin-bottom: 18px;
                            }

                            & .submenu {
                                left: 100%;
                                top: 105%;
                            }

                            &.menu-item-has-children {
                                &:hover {
                                    & a {
                                        &:after {
                                            transform: rotate(0deg);
                                            color: $theme-color;
                                        }
                                    }
                                }

                                &>a {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;

                                    &:after {
                                        content: "\f107";
                                        font-size: 16px;
                                        font-weight: 400;
                                        margin-left: 2px;
                                        color: $theme-color;
                                        display: inline-block;
                                        transform: rotate(-90deg);
                                        transition: all 0.3s 0s ease-out;
                                        font-family: $icon-font;
                                    }
                                }
                            }

                            &.has-dropdown::after {
                                position: absolute;
                                top: 0;
                                right: 20px;
                                font-size: 14px;
                                font-weight: 900;
                                content: "\2b";
                                font-family: $icon-font;
                                color: $title-color;
                                @include at-transition();
                            }

                            & a {
                                position: relative;
                                display: block;
                                line-height: 1;
                                padding: 0 0;
                                text-transform: capitalize;

                                &::before {
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    content: "";
                                    height: 2px;
                                    width: 0px;
                                    opacity: 0;
                                    visibility: hidden;
                                    display: inline-block;
                                    transition: all 0.3s ease-out 0s;
                                    background-color: $theme-color;
                                    transform: translateY(-50%);
                                }
                            }

                            &:hover {

                                &>.submenu {
                                    top: 0;
                                    opacity: 1;
                                    visibility: visible;
                                }

                                &>a {
                                    padding-left: 25px;

                                    &::before {
                                        width: 20px;
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        &>a {
                            color: $theme-color;
                        }

                        &>.submenu {
                            top: 100%;
                            opacity: 1;
                            visibility: visible;
                            transition-duration: .2s;

                            & .has-dropdown::after {
                                rotate: -180deg;
                                color: $theme-color;
                                filter: brightness(1) contrast(1);
                            }
                        }

                        &.has-dropdown::after {
                            rotate: -180deg;
                            color: $theme-color;
                            filter: brightness(1) contrast(1);
                        }

                    }
                }
            }
        }

        &-2 {
            &>nav {
                &>ul {
                    &>li {
                        &:not(:last-child) {
                            @media #{$lg} {
                                padding-right: 35px;
                                margin-right: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}